header {
    background-color: green;
    color: white;
    padding: 10px 0;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav li {
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}

h1, h2, p {
    font-family: Arial, sans-serif;
    margin: 7px;
    padding: 0;
}

img {
    max-width: 100%;
}

footer {
    background-color: green;
    color: white;
    padding: 10px 0;
}

footer p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}